body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clock {
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

.location-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    grid-template-areas: "lat lon" "locator locator" "map notes";
}

.location-area .lat {
    grid-area: lat;
    text-align: right;
}

.location-area .lat:after {
    content: ",";
}

.location-area .lon {
    grid-area: lon;

}

.location-area .locator {
    text-align: center;
    grid-area: locator;
}

.location-area .map {
    grid-area: map;
    height: 50vh;
}

.location-area .leaflet-container {
    height: 100%;
}

.location-area .notes {
    grid-area: notes;
    height: 50vh;
    overflow-y: scroll;
}

@media (max-width: 800px) {
    .location-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
        grid-template-areas: "lat lon" "locator locator" "map map" "notes notes";
    }
        .location-area .map {
            height: 25vh;
        }
        .location-area .notes {
            height: 25vh;
        }

}
